################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WineShop/.vs/**
/WineShop/WineShop/wineshop.db
/.vs/**
